@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

.card {
    border: 0.2rem solid #E8E0D5;
    border-radius: 0.5rem;
}

.home .nameHome {
    font-family: 'Licorice', cursive;
    font-weight: bold;
}

.navbar, .footer, .btn {
    background-color: #E8E0D5;
}