@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    background-color: #EDEBE8;
    overflow-x: hidden; /*retire la scroll bar horizontale*/
}
.navbar, .footer, .btn {
    background-color: #E8E0D5;
}
.card { 
    border: none;
}

/*Début Header*/
header {
    background-image: url(../img/background.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bgShadow {
    background-color: white;
    opacity: 0.7;
}

/*Début Barre de navigation*/
.navbar-light .navbar-nav .nav-link, header .offcanvas-title {
    color: #7C5848;
    font-weight: bold;
} 
.navbar-light .navbar-nav .nav-link:hover {
    color: #9E8777;
}
.navbar-light .navbar-toggler {
    border-color: #7C5848;
}
/*Fin Barre de navigation*/

/*Début Page Accueil*/
#nameJob {
    height: 6rem;
}
.profilePicture {
    border-radius: 0.5rem;
    border: 0.4rem solid #9E8777;
}
.profileText {
    text-align: justify;
}
.home .nameHome {
    font-family: 'Licorice', cursive;
    font-weight: bold;
}
/*Fin Page Accueil*/

/*Fin Header*/

/*Début Main*/
main .card {
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(158, 135, 119, 0.5);
}
.partTitle, .partUnderTitle, .dateElement {
    font-weight: bold;
    color: #7C5848;
}
.nameElement, .degreeElement {
    font-weight: bold;
}

/*Début Animation*/
.revealLeft {
    opacity: 0;
    transform: translateX(-300px);
}
.revealRight {
    opacity: 0;
    transform: translateX(300px);
}
.revealVisible {
    opacity: 1;
    transform: translateX(0px);
    transition: 2s cubic-bezier(.5, 0, 0, 1); /*cubic-bezier : effet accélération décélération*/
}
/*Fin Animation*/

/*Début Page Compétences*/
.skillsBody {
    text-align: start;
}
/*Fin Page Compétences*/

/*Début Page Réalisations*/
.cardProduct {
    max-width: 15rem;
    position: relative;
}
.cardProduct img {
    height: 12rem;
}
.cardProduct .card-body .card-title {
    height: 4rem;
    text-decoration: underline #7C5848;
    font-weight: bold;
}
.cardOneProduct {
    max-width: 15rem;
}
.card-img-top {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: .5s ease-in;
    border-radius: 0.5rem;
    z-index: 1;
}
.btnOneProduct {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cardProduct:hover .overlay {
    height: 100%;
}
/*Fin Page Réalisations*/

/*Début Page Contact*/
.linkedTitle {
    font-weight: bold;
    color: #0A66C2;
}
.inTitle {
    color: white;
    background-color: #0A66C2;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-radius: 0.2rem;
}
.linkedinPicture {
    max-width: 8rem;
    border-radius: 4rem;
}
.linkedinName {
    font-weight: bold;
}
.linkedinLaManu {
    color: #212529;
}
.linkedinBtn {
    color: #0A66C2;
    background-color: white;
    border: 0.1rem solid #0A66C2;
    border-radius: 1.5rem;
}
/*Fin Page Contact*/

/*Fin Main*/
@media (min-width: 992px) {
    hr {
        display: none;
    }
    #nameJob {
        height: 10rem;
    }
}

@media (prefers-reduced-motion: reduce) {
    .revealLeft {
        opacity: 1!important;
        transform: translateX(0px)!important;
    }
    .revealRight {
        opacity: 1!important;
        transform: translateX(0px)!important;
    }
    .revealVisible {
        transition: 0s!important;
    }
}